* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.AppAlexandr {
    width: 800px;
}

.select {
    padding: 100px;
}

.textarea {
    display: flex;
}