* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.AppAlexandr {
    width: 800px;
}

/* styles for add/remove words in the vocabulary */
.word-enter {
    opacity: 0;
}

.word-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.word-exit {
    opacity: 1;
}

.word-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}