* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.AppAlexandr {
    width: 800px;
}

.navbar {
    height: 50px;
    width: 800px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: whitesmoke;
}

.navbar__links {
    margin-left: auto;
}

/* styles for add/remove words in the vocabulary */
.word-enter {
    opacity: 0;
}

.word-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.word-exit {
    opacity: 1;
}

.word-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}