.translatorStyles {
    padding: 10px 0px;
    color: teal;
    font-size: 25px;
    background: transparent;
}

.translatorSelect {
    font-size: 15px;
    color: teal;
    padding: 10px;
    border-radius: 16px;
    min-width: 25px;
    justify-content: center;
    align-items: center;
}
