.post {
    display: flex;
    height: 40px;
    width: 500px;
    padding: 1px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.postWord {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    color: blue;
}

.postTranslatedWord {
    display: flex;
    padding: 5px;
    color: blue;
}