.MyBtn {
    padding: 3px 15px;
    color: teal;
    font-size: 15px;
    background: transparent;
    border: 3px solid teal;
    border-radius: 15px;
    cursor: pointer;
    margin: 5px;
}

.MyBtnHide {
    display: flex;
    padding: 8px 15px;
    margin: 5px;
    font-size: 15px;
    border: 3px solid black;
    border-radius: 15px;
    color: white;
    background: teal;
    cursor: pointer;
}

.MyBtnNav {
    display: flex;
    padding: 8px 1px;
    margin: 3px;
    font-size: 15px;
    border: 3px solid black;
    border-radius: 15px;
    color: white;
    background: teal;
    cursor: pointer;
}